{% extends 'user/base.html' %}

{% block content %}

{% if project.blocked != None %}
<div class="alert alert-danger">
  <i class="fa fa-ban fa-5x pull-left"></i>
  <h4>Diese Projekt wurde gesperrt</h4>
  <p>
      {{project.blocked}}
  </p>
  <p>
    Bitte wende dich an <a href="mailto:edv@asta.hs-fulda.org">die
    Administratoren</a> wenn du das Problem behoben hast oder du Hilfe bei der
    Behebung des Problems brauchst.
  </p>
</div>
{% endif %}

<h2>Projekt <em>{{project.hostname}}</em></h2>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="btn-group">
	                    <button type="button"
	                            class="btn btn-xs btn-primary dropdown-toggle"
	                            data-toggle="dropdown">
	                      <i class="fa fa-pencil"></i>
                        Bearbeiten
                        <span class="caret"></span>
                      </button>
                      
                      <ul class="dropdown-menu" role="menu">
                      </ul>
                    </div>
                    <div class="btn-group">
			                <a href="{{ url('user.project.delete', name = name) }}"
			                   class="btn btn-xs btn-danger">
                        <i class="fa fa-trash-o"></i>
                        L&ouml;schen
                      </a>
			              </div>
		            </div>
                <h3 class="panel-title">
                    <i class="fa fa-info"></i>
                    Details
                </h3>
            </div>
            <div class="panel-body">
								<dl class="dl-horizontal">
										<dt>Name</dt>
										<dd>{{project.name}}</dd>
					
										<dt>Erstellt</dt>
										<dd>{{project.created}}</dd>
					
										<dt>Adresse</dt>
										<dd><a href="{{project.url}}"
										       target="_blank">
										    {{project.url}}
										</a></dd>
					
										<dt>Typ</dt>
										<dd>{{project.image.title}}</dd>
					
										<dt>Sichtbarkeit</dt>
										<dd>
										  {% if project.public %}
										    &Ouml;ffentlich
                      {% else %}
                        Gesch&uuml;tzt
                      {% endif %}
                    </dd>
								</dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    {% if project.running %}
                        <a href="{{ url('user.project.stop', name = name) }}"
                           class="btn btn-xs btn-danger">
                          <i class="fa fa-power-off"></i>
                          Anhalten
                        </a>
                    {% else %}
                        <a href="{{ url('user.project.start', name = name) }}"
                           class="btn btn-xs btn-success {% if project.blocked != None %}disabled{% endif %}">
                          <i class="fa fa-power-off"></i>
                          Starten
                        </a>
                    {% endif %}
                </div>
								<h3 class="panel-title">
					          <i class="fa fa-tachometer"></i>
										Status
								</h3>
            </div>
						<div class="panel-body">
				        <dl class="dl-horizontal">
										<dt>Status</dt>
										{% if project.blocked != None %}
										    <dd>Gesperrt</dd>
										{% else %}
										    <dd>
		                      {% if project.running %}
		                        Gestartet
		                      {% else %}
		                        Angehalten
		                      {% endif %}
										    </dd>
                    {% endif %}
                    
										{% if project.running %}
											<dt>Gestartet</dt>
											<dd>
											  {{project.started.strftime('%d.%m.%Y %H:%M')}}
											  <small>
											    (Seit
											    {% if project.uptime.days > 0 %}
											      {{project.uptime.days}} Tage,
											    {% endif %}
											    {{ '%d:%02d' % (project.uptime.seconds // (60 * 60),
                                          project.uptime.seconds // (60)) }}
                          )
											  </small>
											 </dd>
										{% endif %}
					
										<dt>Speicherplatz</dt>
										<dd>{{project.disk_usage}}</dd>
								</dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                        Hinzuf&uuml;gen
                    </a>
                    <a href="{{ url('user.project.admin.remove', name = name) }}"
                       class="btn btn-xs btn-danger">
                        <i class="fa fa-minus"></i>
                        Entfernen
                    </a>
                </div>
                <h3 class="panel-title">
                    <i class="fa fa-users"></i>
                    Administratoren
                </h3>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>FD-Nummer</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in project.admins %}
                        <tr>
                            <td>{{admin.username}}</td>
                            <td>{{admin.name}}</td>
                            <td>{{admin.email}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-terminal"></i>
          Project-Log
        </h3>
      </div>
      <pre>{{project.logs}}</pre>
    </div>
  </div>
</div>

{% endblock %}
