{% extends "studsrv/frontend/base.html" %}

{% load bootstrap %}

{% block content %}

<h2>Projekt erstellen</h2>

<form class="form-horizontal"
      action="."
      method="post">
    {% csrf_token %}
    
    {{form|bootstrap_horizontal}}
	  
	  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		        <div class="pull-right">
				        <a href="{% url 'studsrv.frontend.index' %}"
				           class="btn btn-default">
				            Abbrechen
				        </a>
		            <button type="submit" class="btn btn-success">
		                <i class="fa fa-plus"></i>
		                Erstellen
		            </button>
            </div>
		    </div>
	  </div>
</form>


{% endblock %}
